h1 {
    width: fit-content;
    margin: 10px auto;
    color: rgb(41, 122, 8);
    font-style: oblique;
    font-weight: bold;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 80px;
    height: 80px;

}
.bg{
    background-color: black;
}


td:hover {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    color: black;
}

.p{
    visibility: hidden;
}

.cntr{
    align:"center";
}

.bgletras{
    color: white;
}

.ft{
    margin: none;
}